body{
    font-family: 'Imbue', serif;
    color: #FFFFFF;
}

p{
    font-size: 22px;
}
header{

    background-color: #FFFBF0;
}

                /* All Button */
.new-button{
    width: 200px;
    height: 50px;
    padding: 8px;
    color: white;
    background-color: #92AC2B;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}
                /* Top-section1 navbar*/
.navbarlogo img{
    
    width: 50px;
    height: 50px;
    
}
.navbarlogo h4{
    width: 100%;
}
.navbar-item{

    float: right;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    
}
.navbar-item a{
    margin-right: 10px;
    
}

.navbar{
    background:none;
    margin-bottom: 2%;  
}

/* /       Top-Section2  */

.top-section2{
    padding: 15px;
}
.top-section2 h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: #363958;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 15px;
    padding-left:0px;
    text-transform: uppercase;
    
}
.top-section2 img{
    padding: 0px 0px 30px 30px;
}
.top-section2 button i{

}


                    /* Products Part , Women and Man */
.cards{
    padding: 5px;
    margin:10px;
}
.women-section .cards,  .man-section .cards{
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #F8F8F8;
}
.cards h3{

    font-size: 25px;
    color: #363958;
}
.product{
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    height: 310px;
    background-color: #F1F1F1;
    border-radius: 10px;
    text-align: center;
}
.product img{
    padding: 15px;
    width:260px;
    height: 280px;
    margin: 10px 0px;
}

                    /* Card h1 */


.women-section h1,.man-section h1{

    margin-top: 10%;
    margin-bottom: 6px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #363958;
    text-align: center;
}

    /* Card Fotter */
.cards .fotter-card{
    background-color: white;
    border: none;
}
.cards .fotter-card h2{
    color: #F9BB41;
}

                    /* MainSection-3 */


.mainsaction3{
    margin-top: 8%;
}

.mainsaction3 img{
    margin-left: 25px;
}
.mainsaction3 .card{
    margin-bottom: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #F8F8F8;
}

.mainsaction3 .Second-Colum img{
    width: 90%;
    height: 90%;
}



                    /* Fotter Section Css */
footer{
    margin-top: 20px;
    background-color: #fffdfa;
}
.footersection1 .card{
    margin-top: 20px;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}
.footersection1 .card h5{
    margin-top: 1%;
    margin-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #F9BB41;
}
.footersection1 .card ul li{
    font-size: 20px;
    font-weight: 630;
}
.footersection1 .card button
{
    margin-top: 10px;
}

.fotersection2-1
{
    text-align: center;
}
.fotersection2-1 .communiLogo img{
    width: 30px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.communiLogo{
  
display: flex;
justify-content: center;   
}


